
.menu_block  {
	background: url(../images/bg_menu.png) 0 0 repeat-x #ebebeb;
	position: relative;
	z-index: 999;
	border: 1px solid #d6d6d6;
	border-radius: 7px;
	margin-top: 22px;
}

nav>.sf-menu {
	text-align: center;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	float: left;
	border-left: 1px solid#dbdbdb;
	position: relative;
}


.sf-menu {
	display: table;
}

.sf-menu>li:first-child {
	border: none;
	border-radius: 7px 0 0 7px;
}

.sf-menu>li:first-child a {
border-radius: 7px 0 0 7px;
}

.sf-menu>li.last {
	border-radius: 0 7px 7px 0;
}

.sf-menu>li.last a {
border-radius: 0 7px 7px 0;
}

.sf-menu>li>ul>li {
  float: none;
  	
}


.sf-menu>li>a{
	color: #4b4b4b; 
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px; 
	display: block;
	line-height: 24px;padding: 20px 0;
	position: relative;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	min-width: 70px;
	background: url(../images/spacer.png) 0 0 repeat;
}

.sf-menu>li>a span.menu-arrow {
	position: absolute;
	content: '';

	left: 50%;
	margin-left: -2px;
	width: 5px;
	background: url(../images/arrows.png) no-repeat 0 -3px;
	height: 3px;
	top: 45px;	
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
	color: #000;
	text-decoration: none;
	background: url(../images/menu_hover.png) 0 0 repeat-x #f5bc01;
}
.sf-menu>li.current>a  span.menu-arrow, .sf-menu>li.sfHover>a  span.menu-arrow {
	background-position: 0 0;
}

.sf-menu>li>ul>li>a>span {
	position: absolute;
	right: 10px;
	width: 4px;
	background: url(../images/arrows.png) no-repeat right bottom;
	height: 7px;
	top: 16px;	
}


	


.sf-menu a{
	font-size: 16px; 
	line-height: 21px; 
	color:#fffefe;
	}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
 	margin-top: 68px;
	background: #fafafa;
	top:0px;
	width: 156px;
	padding: 2px 0 2px; 
	z-index: 999;  
}

.sf-menu li ul li{
	text-align: center; 
	float: none !important; 
}

.sf-menu li ul li:first-child {
	padding-top: 0;
	background: none;
}
.sf-menu li ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	display: block;
	line-height: 18px;
	padding: 9px 0 10px;
	line-height: 19px;
	color: #555555;
}

.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{  color: #202020 !important; background: #fad403; text-decoration: none;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{
	left: 156px !important;
	top: -70px !important; 
	z-index: 999;
}


/*========
.sf-menu li li ul li:first-child {
	margin: 0 !important;	
}

.sf-menu li li ul li a {
	color: #9d9d9d !important;
}

.sf-menu li li ul li a:hover {
	color: #4d4d4d !important;	
}======*/

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {



	header nav {
		padding-top: 0px !important;	
	}
}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 0px !important;	
		padding: 15px 10px 20px;
	}

  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		
		width: 100%;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #202020;
			
		}
	.sf-menu{display:none !important; float: none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #D2D1D1;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
